{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}BARI | Red Social Libre{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Your stuff: Third-party CSS libraries go here -->
      <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <nav class="navbar navbar-expand-sm navbar-light shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><strong>B</strong><i class="fas fa-mountain ml-1"></i></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">

          {% if request.user.is_authenticated %}
              <li class="nav-item mr-3">
                <a class="nav-link" href="{% url 'posts:list' %}">posts<i class="far fa-comments text-danger"></i></a>
              </li>
{#            <li class="nav-item mr-3">#}
{#                <a class="nav-link" href="{% url 'posts:list' %}"><i class="fas fa-beer text-warning"></i></a>#}
{#              </li>#}
{#            <li class="nav-item mr-3">#}
{#                <a class="nav-link" href="{% url 'posts:list' %}"><i class="fas fa-guitar text-primary"></i></a>#}
{#              </li>#}
            <li class="nav-item mr-5">
                <a class="nav-link" href="{% url 'posts:list' %}">class<i class="far fa-handshake text-success"></i></a>
              </li>
            <li class="nav-item mr-3 ml-5">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'posts:add' %}">create<i class="fas fa-pencil-alt"></i></a>
              </li>
              <li class="nav-item mr-3 ml-5">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'users:detail' request.user.username  %}"><i class="fas fa-snowboarding"></i></a>
              </li>
              <li class="nav-item mr-3">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i></a>
              </li>
            {% else %}
              <li class="nav-item mr-3">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Registrate" %}</a>
              </li>
              <li class="nav-item mr-3">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Ingresa" %}</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{#    <div class="container">#}

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}

{#    </div> #}
    <!-- /container -->
<footer id="main-footer" class="text-center p-4">
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-4">
          <ul class="navbar-nav navbar-light">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          </ul>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
      <div class="row">
        <div class="col">
          <p>
            <span id="year"></span>Grupo Bari Libre</p>
        </div>
      </div>
    </div>
  </footer>
    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->


      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>

