{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row mt-4">
    <div class="col-sm-12">
    <div class="row">
      {% if object.photo %}
      <img style="max-height: 100px" src="{{ object.photo.url }}">
      {% endif %}
      <h2 class="mt-4">{{ object.username }}</h2>
    </div>

      {% if object.name %}
        <p class="mt-2">Name : {{ object.name }}</p>
      {% endif %}
      {% if object.bio %}
          <p>{{ object.bio|linebreaksbr }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-outline-danger" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-outline-danger" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

