{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Bari Red | Posts: {{ post.name }}{% endblock title %}

{% block content %}
      <div class="container">
        <a href="{% url 'posts:post_list' %}"><i class="fas fa-long-arrow-alt-left mt-4 text-dark"></i></a>
        <a href="{% url 'posts:update' post.id post.slug %}"><p class="text-right"><i class="far fa-edit mt-4"></i></p></a>
        <div class="card text-center mt-3">
      <div class="card-header">
        <h6 class="card-subtitle p-2">
        {% if post.creator.username %}
           <a href="{% url 'users:detail' post.creator.username %}" class="card-link text-dark">
             <img src="{{ post.creator.photo.url }}" style="max-height: 25px">
              {{ post.creator.username }}
           </a>
         {% endif %}
        </h6>
      </div>
        {% if post.photo %}
          <img class="card-img-top" src="{{ post.photo.url}}" alt="Card image cap">
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ post.name }}</h5>
        {% if post.description %}
            <p>{{ post.description }}</p>
        {% endif %}
      {% with comments.count as total_comments %}
        <strong>
          {{ total_comments }} comment{{ total_comments|pluralize }}
        </strong>
      {% endwith %}

      </div>
{#        End Card#}

        {% for comment in comments %}
          <div class="comment">
            <p>
              Comment by {{ comment.name.email }}
              {{ comment.created }}
            </p>
          {{ comment.body|linebreaks }}
          </div>
          {% empty %}
          <p>There are no comments yet</p>
        {% endfor %}

        {% if new_comment %}
        <strong>Comment successfully added</strong>
        {% else %}
        <strong>Agregar Comentario</strong>
        <form method="post">
          {{ comment_form|crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger">Comentar</button>
        </form>
        {% endif %}
    </div>

    <a href="{% url 'posts:post_list' %}"><i class="fas fa-long-arrow-alt-left mt-2 text-dark"></i></a>
  </div>

{% endblock content %}
